

  .header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    block;

}

  
  
  .section {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
  }
  
  title{
    
  }
  
  /* Relative positioning */
  #relative-box {
    position: relative;
    left: 200px;
  }
  
  /* Absolute positioning */
  #absolute-section {
    position: relative;
  }
  
  #absolute-box {
    position: absolute;
    top: 50px;
    right: 100px;
  }
  
  /* Fixed positioning */
  #fixed-box {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  .lesson{
    background-color: aliceblue;
  }
  
  .submit{
  
  }